/* navbar.css */

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
    width: 100vw; /* Set to full viewport width */
    border-bottom: 1px solid #e5e7eb;
    box-sizing: border-box; /* Ensure padding is included in width */
}

.logo {
    display: flex;
    align-items: center;
    gap: 16px;
    color: #1C160C;
    text-decoration: none;
}

.logo h2 {
    color: #1C160C;
    font-size: 1.125rem;
    font-weight: bold;
    letter-spacing: -0.015em;
}

.nav {
    margin-left: auto;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.nav ul {
    display: flex;
    gap: 1.5rem;
    align-items: center; /* Center items vertically */
    font-size: 0.875rem;
    font-weight: 500;
    color: #292524;
    height: 80px; /* Set a consistent height */
    white-space: nowrap;
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.nav a {
    text-decoration: none;
    color: #292524;
}

.icon-button {
    border-radius: 50%; /* Maintain a circular button shape */
    width: 40px; /* Width for the icon button */
    height: 40px; /* Height for the icon button */
    padding: 0; /* No padding for consistency */
    transition: background-color 0.3s; /* Smooth transition */
    display: flex; /* Flex for alignment */
    align-items: center; /* Center icon vertically */
    justify-content: center; /* Center icon horizontally */
}

.icon-button:hover {
    background-color: rgba(245, 240, 229, 1); /* Background color on hover */
}

.icon-button .MuiSvgIcon-root {
    color: #292524; /* Icon color */
    font-size: 1.5rem; /* Adjust size as needed */
}

.signup-button,
.login-button {
    border-radius: 20px; /* Rounded corners */
    display: flex; /* Flexbox for alignment */
    width: 84px; /* Fixed width */
    height: 40px; /* Fixed height to match the ul */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    padding: 0 16px; /* Padding for content */
    color: #fff; /* Text color */
    text-align: center; /* Center text */
    font: 700 14px "Plus Jakarta Sans", -apple-system, Roboto, Helvetica, sans-serif; /* Font styling */
    overflow: hidden; /* Hide overflow content */
}

.signup-button {
    background-color: rgba(0, 153, 99, 1); /* Background color */
}

.login-button {
    background-color: rgba(245, 240, 229, 1); /* Background color */
    color: rgba(28, 23, 13, 1); /* Text color */
}

.signup-text{
    color: white;
}